{% extends 'security/base.html.twig' %}

{% block title %}HomePage{% endblock %}

{% block stylesheets  %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/home.css') }}">
{% endblock %}

{% block body %}
    <br>

       {% if is_granted('ROLE_USER') %}
    You are logged in as {{ app.user.firstname }}
         <b> <a style="margin-left: 1000px;display:inline-block;box-shadow:  1px 2px 3px 4px gainsboro;
   ;color: chocolate" href="{{ path('app_logout') }}">Logout <i class="fas fa-sign-out-alt"></i></a></b>
    {% endif %}

           <h1 style="margin-top:200px;font-size: 700%;margin-left: 300px;"><b>TECHFORUM</b></h1>






    <ul class="home">
        {%  if is_granted('ROLE_USER') %}
        <li>

            <a href="{{ path('ask_question') }}">Ask a question</a>


        </li>
        {% else %}
            <li>
                <a href="{{ path('app_login') }}">Login</a>
                <a href="{{ path('app_register') }}">Register</a>
                <a href="#">about</a>
                <a href="#">search</a>

            </li>
        {% endif %}
    </ul>



{% endblock %}