{% extends 'security/base.html.twig' %}

{% block title %}Register{% endblock %}

{% block stylesheets  %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/register.css') }}">
{% endblock %}


{% block body %}
    <div class="form-signin">
        <h1 class="h3 mb-3 font-weight-normal">Please Register</h1>
        <div class="form-control">

            {{ form_start(form) }}

            {{ form_row(form.firstName) }}
            {{ form_row(form.lastName) }}
            {{ form_row(form.photo) }}
            {{ form_row(form.email) }}
            <br>
            {{ form_widget(form.password.first, { 'attr': {'class': 'form-control', 'placeholder': 'Enter your password', 'value':''}  }) }}
            {{ form_widget(form.password.second, { 'attr': {'class': 'form-control', 'placeholder': 'Confirm your password', 'value':''}  }) }}
            <a style="float: right;" href="{{ path('app_login') }}">signIn</a>
            <br>



            {{ form_end(form) }}

        </div>
    </div>




{% endblock %}